@import "../../styles/utils/variables";

.page {
  font-family: 'Jost', Helvetica, Arial, sans-serif;
  color: #8C8C8C;
  margin: 0;
  padding: 0;

  &__body {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $primary-bg-color;
    overflow: hidden;
  }

  &__section {
    min-width: 680px;
    min-height: 840px;
  }
}
