@import "../../styles/utils/variables";

.static {
  position: sticky;
  top: 30px;
  height: min-content;

  &__header {
    margin-bottom: 60px;
  }

  &__img-link {
    display: block;
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 10px;

    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
    color: $title-color;
  }

  &__text {
    font-size: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: 500;
    color: $title-color;
  }
}