@import "../../styles/utils/variables";

.nav {
  display: flex;
  gap: 16px;

  &__link {
    display: inline-block;
    height: 100%;

    &--active {
      pointer-events: none;
    }

    &:hover .nav__name {
      background-color: $hover-color;
    }
  
    &:hover .nav__img-container {
      border-color: $white;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    min-width: 138px;
    min-height: 198px;

    border: 4px solid #FFFFFF99;
    border-radius: 20px;
    transition: border-color 0.3s;

    &--active {
      border-color: $hover-color;
    }

    &--voting {
      background-color: #B4B7FF;
    }

    &--breeds {
      background-color: $green;
    }

    &--gallery {
      background-color: $yellow;
    }
  }

  &__img {
    object-fit: contain;
  }

  &__name {
    display: block;
    width: 100%;
    padding: 10px 0;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;

    border-radius: 10px;
    background-color: $white;
    transition: background-color 0.3s;

    &--active {
      background-color: $primary-color;
      color: $white;
    }
  }
}